<div style="font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
    <table style="width: 100%;">
      <tr>
        <td></td>
        <td bgcolor="#FFFFFF ">
          <div style="padding: 15px; max-width: 600px;margin: 0 auto;display: block; border-radius: 0px;padding: 0px; border: 1px solid lightseagreen;">
            <table style="width: 100%;background: #5d5657 ;">
              <tr>
                <td></td>
                <td>
                  <div>
                    <table width="100%">
                      <tr>
                        <td rowspan="2" style="text-align:center;padding:10px;">
							<img style="float:left; " width="200"  src="https://donalo.org/img/blog/imagen-1503920684.png" />

							<span style="color:white;float:right;font-size: 13px;font-style: italic;margin-top: 20px; padding:10px; font-size: 14px; font-weight:normal;">
							"información de contacto"<span></span></span></td>
                      </tr>
                    </table>
                  </div>
                </td>
                <td></td>
              </tr>
            </table>
            <table style="padding: 10px;font-size:14px; width:100%;">
              <tr>
                <%a=User.find(@aviso.user_id)%>
                <% @user = User.all%>
                 <% @user.each do |user| %>
                 <%if user.email == @aviso.user%>
                <td style="padding:10px;font-size:14px; width:100%;">
                    <p>Hola! </p>
                   <%=a.nombre%> <%=a.paterno%> <%=a.materno%> el usuario
                   <%=user.nombre%> <%=user.paterno%> <%=user.materno%> desea contactarse contigo por el aviso
                   publicado donde buscas "<%=@aviso.nombre%>".
                   <hr>
                   información personal de la persona que desea contactarse contigo :
                   Nombre: <%=user.nombre%> <%=user.paterno%> <%=user.materno%>  <br>
                   Sede: <%=user.sede%><br>
                   Carrera: <%=user.carrera%> <br>
                   Número de contacto: <%=user.red_movil%> <br>
                   Correo Electronico: <%= user.email%>
                   <hr>

                   <%end%>

            </p>
            <%end%>
                    <hr>


                              <!-- /Callout Panel -->
                  <!-- FOOTER -->
                 </td>
              </tr>
			  <tr>
			  <td>
				 <div align="center" style="font-size:12px; margin-top:20px; padding:5px; width:100%; background:#eee;">

                  </div>
                </td>
			  </tr>
                </table>
          </div>
