<%= stylesheet_link_tag "mispublicaciones.css" %>

<% if current_user%>
<%if current_user.rol != "Administrador" || current_user.rol != "Super" %>
<br><br>

<div class="container">
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
 <div class="mail-box">
                  <aside class="sm-side">
                      <div class="user-head">
                          <a class="inbox-avatar" href="javascript:;">



                          </a>
                          <div class="user-name">
                              <h5><%=current_user.nombre%> <%=current_user.paterno%></h5>
                              <span><%=current_user.email%></span>
                          </div>

                      </div>
                      <div class="inbox-body">

                          <!-- Modal -->
                          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
                              <div class="modal-dialog">
                                  <div class="modal-content">

                                      <div class="modal-body">
                                          <form role="form" class="form-horizontal">


                                              <div class="form-group">
                                                  <label class="col-lg-2 control-label">Subject</label>
                                                  <div class="col-lg-10">
                                                      <input type="text" placeholder="" id="inputPassword1" class="form-control">
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <label class="col-lg-2 control-label">Message</label>
                                                  <div class="col-lg-10">
                                                      <textarea rows="10" cols="30" class="form-control" id="" name=""></textarea>
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <div class="col-lg-offset-2 col-lg-10">
                                                      <span class="btn green fileinput-button">
                                                        <i class="fa fa-plus fa fa-white"></i>
                                                        <span>Attachment</span>
                                                        <input type="file" name="files[]" multiple="">
                                                      </span>
                                                      <button class="btn btn-send" type="submit">Send</button>
                                                  </div>
                                              </div>
                                          </form>
                                      </div>
                                  </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->
                      </div>
                      <% a= Producto.count%>
                      <ul class="inbox-nav inbox-divider">
                        <%if current_user.rol != "Administrador" &&  current_user.rol != "Super"%>


                          <li class="active">

                                 <p align="center"> Mis Publicaciones</p>
                          </li>
                          <li class="active">
                                <%= link_to "Mis Publicaciones", publicaciones_path%>
                          </li>
                          <li class="active">
                                 <%= link_to "Pendientes", pendientes_path%>
                          </li>
                          <li class="active">
                                 <%= link_to "Aprobados", aprobados_path%>
                          </li>
                          <li class="active">
                             <%= link_to "rechazados", rechazados_path%>
                          </li>
                          <li>
                                <p align ="center"><i class="fa fa-inbox"></i> Productos</p>
                          </li>
                          <li class="active">
                              <%= link_to "Solicitados", solicitados_path%>
                          </li>


                          <li class="active">
                                <%= link_to "Pedidos", pedidos_path%>
                          </li>
                          <li class="active">

                                 <p align="center"> Mis Avisos</p>
                          </li>
                          <li class="active">
                             <%= link_to "Mis avisos", misavisos_path%>
                          </li>
                          <li class="active">
                             <%= link_to "Contactados", contactados_path%>
                          </li>
                          <li>
                                <p align ="center"><i class="fa fa-inbox"></i> Encuesta</p>
                          </li>
                          <li class="active">
                            <%= link_to "Encuesta Solicitante", publicaciones_encuesta_solicitante_path%>

                          </li>
                          <li class="active">
                            <%= link_to "Encuesta Donador", publicaciones_encuesta_donador_path%>

                          </li>
                          <li class="active">
                            <%= link_to "Encuesta avisos", publicaciones_encuesta_aviso_path%>

                          </li>
                          <%else%>
                          <li class="active">
                              <a href="/publicaciones"><i class="fa fa-inbox"></i> Revisar publicaciones <%cantidad= Producto.where(:estado=>"Pendiente" ).count%> <%=cantidad%><span class="label label-danger pull-right"></span></a>
                          </li>
                          <%end%>
                      </ul>

                  </aside>
                  <aside class="lg-side">
                      <div class="inbox-head">
                          <h3>Publicaciones que se deben revisar</h3>

                      </div>
                      <div class="inbox-body">

                          <table class="table table-inbox table-hover">
                            <tbody>
<br>

<div class="container">
<link rel='stylesheet prefetch' href='http://www.coordinadora.com/wp-content/uploads/sidebar_usuario-corporativo.png'>
<link rel="stylesheet" href="assets/bootstrap/css/mail.css" />
 <div class="mail-box">



                              <% @productos.each do |producto| %>



                              <tr class="">
                                <%if producto.imagen?%>
                                  <td class="inbox-small-cells">
                                      <img alt="image" class="img-responsive" src="<%= producto.imagen %>"  class="rounded mx-auto d-block" width="50" height="50">
                                  </td>
                                <%else%>
                                <td class="inbox-small-cells">
                                    <%= image_tag "sinfoto.jpg" , size: "60x60", alt: "image", class:"img-responsive" %>
                                </td>
                                <%end%>
                                  <td class="view-message"> <%=producto.titulo%></td>

                                <td class="view-message text-right"><%=button_to' Mostrar', producto,:method =>:get,:action=>'show',:recipe_id => producto.id, class: "glyphicon glyphicon-file  btn btn-primary"%></td>






                              <%end%>


              </div>
</div>
                          </tbody>
                          </table>
                          <%= paginate @productos %>
                      </div>
                  </aside>
              </div>
</div>
<%else%>
<script>

    alert("Usted no puede ingresar a esta dirección");
    window.location.href="/publicaciones/avisos"
</script>
<%end%>
<%else%>
<script>

    alert("Usted no puede ingresar a esta dirección");
    window.location.href="/publicaciones/avisos"
</script>
<%end%>
