<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @evaluacionaviso.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @evaluacionaviso.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @evaluacionaviso.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @evaluacionaviso.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @evaluacionaviso.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @evaluacionaviso.f %>
</p>

<%= link_to 'Edit', edit_evaluacionaviso_path(@evaluacionaviso) %> |
<%= link_to 'Back', evaluacionavisos_path %>
